@model CVProjekt1._0.ViewModels.ListProjectViewModel
@{
    ViewData["Title"] = "Registered Projects";
}

@{
    string title = ViewData["Title"].ToString();
}
<h1 class="Title" style="padding-bottom: 0.5rem; text-transform: uppercase; font-weight:540">
    <span style="font-size: 1.5em;">@title.Substring(0, 1)</span>@title.Substring(1)
</h1>

<p>Here is all the registered projects:</p>

<div class="row">
    @foreach (var project in Model.Projects)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center" style="border-bottom: 2px solid black; padding-bottom: 0.5rem; text-transform: uppercase; font-weight: 540;">
                        <span style="font-size: 1.5em; font-weight: 550;">@project.Title.Substring(0, 1)</span>@project.Title.Substring(1)
                    </h5>
                    <p class="card-text">Description: @project.Description</p>
                    <p class="card-text">Desired Manpower: @project.DesiredManpower</p>
                    @if (User.Identity.Name == project.CreatorId)
                    {
                        <div style="margin-top: 1rem; text-align: right;">
                            <a asp-controller="Project" asp-action="Edit" asp-route-projectId="@project.ProjectId" class="btn btn-primary">Ändra</a>
                        </div>
                    }
                    else
                    {
                        <div style="margin-top: 1rem; text-align: right;">
                            <a href="#" class="btn btn-primary">Participate</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>



<div>
    <a asp-controller="Project" asp-action="Create">
        <button type="submit" class="btn btn-primary">Create New Project</button>
    </a>
</div>
