@model CVProjekt1._0.ViewModels.ListProjectViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@{
    ViewData["Title"] = "Registered Projects";
}
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<!-- Skript för att visa modal automatiskt -->
<script>
    $(document).ready(function () {
        $('#confirmationModal').modal('show');
    });
</script>


<h1 class="Title" style="padding-bottom: 0.5rem; text-transform: uppercase; font-weight: 540">
    <span style="font-size: 1.5em;">@ViewData["Title"].ToString().Substring(0, 1)</span>@ViewData["Title"].ToString().Substring(1)
</h1>

<p>Here are all the registered projects:</p>

<div class="row">
    @foreach (var project in Model.Projects)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center" style="border-bottom: 2px solid black; padding-bottom: 0.5rem; text-transform: uppercase; font-weight: 540;">
                        <span style="font-size: 1.5em; font-weight: 550;">@project.Title.Substring(0, 1)</span>@project.Title.Substring(1)
                    </h5>
                    <p class="card-text">Description: @project.Description</p>
                    <p class="card-text">Desired Manpower: @project.DesiredManpower</p>

                    @if (User.Identity.IsAuthenticated)
                    {
                        var loggedInUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                        if (loggedInUserId == project.CreatorId)
                        {
                            <div style="margin-top: 1rem; text-align: right;">
                                <a asp-controller="Project" asp-action="Edit" asp-route-projectId="@project.ProjectId" class="btn btn-primary">Ändra</a>
                            </div>
                        }
                        else
                        {
                            <div style="margin-top: 1rem; text-align: right;">
                                <form action="@Url.Action("Participate", "Project", new { projectId = project.ProjectId })" method="post">
                                    <button type="submit" class="btn btn-success">Participate</button>
                                </form>
                            </div>
                        }
                    }
                    @if(!User.Identity.IsAuthenticated)
                    {
                    <div style="margin-top: 1rem; text-align: right;">
                        <a href="/Account/Login" class="btn btn-primary">Login to participate</a>
                    </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div>
    <a asp-controller="Project" asp-action="Create">
        <button type="submit" class="btn btn-primary">Create New Project</button>
    </a>
    @if (TempData["ParticipationConfirmation"] != null && (bool)TempData["ParticipationConfirmation"])
    {
        <div class="alert alert-success" role="alert">
            Användaren har lagts till i projektet.
        </div>
    }
    else if (TempData["ParticipationConfirmation"] != null && !(bool)TempData["ParticipationConfirmation"])
    {
        <div class="alert alert-success" role="alert">
            Användaren är redan med i projektet.
        </div>
    }
</div>

<!-- Innehåll för att visa bekräftelsemeddelandet -->


