@using Microsoft.AspNetCore.Identity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Details";

}
@model CVProjekt1._0.ViewModels.UserInfoViewModel
@inject UserManager<User> _userManager

@{
    var user = await _userManager.FindByNameAsync(User.Identity.Name);
    var profilePicturePath = user?.ProfilePicturePath;
}

<ul>
    <h2>User Info</h2>

    <li>
        <h3>Username:</h3>
        <p>@Model.UserName</p>
    </li>
    <li>
        <h3>Email:</h3>
		<p>@Model.Email</p>
    </li>
    <li>
        <h3>First Name:</h3>
		<p>@Model.FirstName</p>
    </li>
    <li>
        <h3>Last Name:</h3>
        <p>@Model.LastName</p>
    </li>
    <li>
        <h3>Phone Number:</h3>
		<p>@Model.PhoneNumber</p>
    </li>
    <li>
        <h3>Address:</h3>
		<p>@Model.Address</p>
    </li>
    <li>
        <h3>City:</h3>
        <p>@Model.City</p>
    </li>
</ul>

<form asp-controller="User" asp-action="Edit">
    <button type="submit" class="btn btn-primary">Edit Profile</button>
</form>
<form asp-controller="User" asp-action="ChangePassword">
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
<h3>Upload Profile Picture</h3>
<form asp-controller="User" asp-action="UploadProfilePicture" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" accept="image/*" name="profilePicture" class="form-control-file" />
    </div>
    <button type="submit" class="btn btn-primary">Upload Picture</button>
</form>
@if (!string.IsNullOrEmpty(profilePicturePath))
{
    <img src="@Url.Content(profilePicturePath)" alt="Profile Picture" class="img-fluid" width="300px" height="400px" />
}
