@model CVProjekt1._0.ViewModels.UserInfoViewModel

@{
    ViewBag.Title = "Edit Profile";
}

<h2>Edit Profile</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    <form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", disabled = "disabled" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>
    <!-- Add other form fields for editing user details -->
    <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
}